body{
	margin: 0;
	width: 100%;
}

#top{
	width: 100%;
	height: 100px;
	border-bottom: 1px solid black;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#content{

}

/*drugs*/

#drugs{
	-moz-box-orient: vertical;
	box-orient: vertical;
	display: -moz-box;
	display: box;
	height: 100%;
	width: 100%;
}

#drugs > div:nth-child(1){
	box-pack: center;
	-moz-box-pack: center;
	display: box;
	display: -moz-box;
	margin: 15px;
	padding: 10px;
}

/*cols*/
#d_cols{
	-moz-box-flex: 1;
	box-flex: 1;
	display: -moz-box;
	display: box;
	-moz-box-orient: horizontal;
	box-orient: horizontal;
}

	#d_scroll{
		width: 40px;
		-moz-box-orient: vertical;
		box-orient: vertical;
		-moz-box-pack: center;
		box-pack: center;
		display: -moz-box;
		display: box;
		width: 25px;
	}

	#d_scroll > div{
		position: relative;
	}

	#d_scroller{
		background-color: green;
		height: 40px;
		position: absolute;
		width: 100%;
	}

	#d_cols > table{
		-moz-box-flex: 1;
		box-flex: 1;
		display: block;
	}

/*bubble*/
#d_bCont{
	-moz-box-pack: center;
	display: -moz-box;
}

#d_bCont > div{
	position: relative;
}

div.d_b{
	position: absolute;
	width: 150px;
	height: 50px;
	border: 1px solid black;
	top: -52px;
}

form.drugs{
	border: 1px solid black;
	border-radius: 4px 4px 4px 4px;
	height: 30px;
	padding-right: 2px;
	position: relative;
}

form.drugs > *:nth-child(1){
	border-right: 1px solid black;
	float: left;
	padding: 4px;
	width: 22px;
}

form.drugs > *:nth-child(2){
	border: 0 none;
	height: 28px;
	width: 300px;
}

form.drugs > *:nth-child(3){
	background-color: blue;
	border: 0 none;
	border-radius: 6px 6px 6px 6px;
	color: white;
	padding: 4px;
	position: absolute;
	right: 2px;
	top: 2px;
}

#drugs_list > div:nth-child(2n){
	background-color: #f5deb3;
}

#drugs > div:nth-child(2) > div:nth-child(){
	width: 40px;
}

*.drugs_tab0{
	width: 200px;
}
*.drugs_tab1{
	width: 200px;
}
*.drugs_tab2{
	width: 160px;
}
*.drugs_tab3{
	width: 100px;
}
*.drugs_tab4{
	width: 100px;
}
*.drugs_tab5{
	width: 40px;
}
*.drugs_tab6{
	width: 20px;
}
*.drugs_tab7{
	width: 60px;
}
*.drugs_tab8{
	width: 80px;
}

div.drugs_bv{
	display: block;
}

div.drugs_bi{
	display: none;
}
/*drugs_end*/